[submodule "graphcast"]
    path = graphcast
    url = git@github.com:NOAA-PSL/graphcast.git
    branch = feature/replay-integration
[submodule "ufs2arco"]
    path = ufs2arco
    url = git@github.com:NOAA-PSL/ufs2arco.git
    branch = main
[submodule "weatherbench2"]
	path = weatherbench2
	url = git@github.com:google-research/weatherbench2.git
    branch = main
